/*
 * Copyright (C) 2022 bytes at work AG. All Rights Reserved.
 *
 * Based on: fsl-imx8mm-evk.dts
 * Copyright 2018 NXP
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "imx8mm.dtsi"
#include "imx8mm-byteengine-m6.dtsi"
#include <dt-bindings/net/ti-dp83867.h>

/ {
	model = "i.MX 8M Mini on bytes at work byteDEVKIT";
	compatible = "bytesatwork,bytedevkit", "fsl,imx8mm";

	chosen {
		bootargs = "console=ttymxc1,115200 earlycon=ec_imx6q,0x30890000,115200";
		stdout-path = &uart2;
	};
};

&iomuxc {
	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MM_IOMUXC_UART2_RXD_UART2_DCE_RX	0x49
			MX8MM_IOMUXC_UART2_TXD_UART2_DCE_TX	0x49
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2grpgpio {
		fsl,pins = <
			MX8MM_IOMUXC_SD2_RESET_B_GPIO2_IO19	0x41
			MX8MM_IOMUXC_SD2_CD_B_GPIO2_IO12	0x41
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK		0x190
			MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD		0x1d0
			MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0	0x1d0
			MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1	0x1d0
			MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2	0x1d0
			MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3	0x1d0
			MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
		>;
	};

	pinctrl_fec1: fec1grp {
		fsl,pins = <
			MX8MM_IOMUXC_ENET_MDC_ENET1_MDC			0x3     /* AC27  ENET_MDC */
			MX8MM_IOMUXC_ENET_MDIO_ENET1_MDIO		0x3     /* AB27  ENET_MDIO */
			MX8MM_IOMUXC_ENET_TD3_ENET1_RGMII_TD3		0x1f    /* AF25  ENET_TD3 */
			MX8MM_IOMUXC_ENET_TD2_ENET1_RGMII_TD2		0x1f    /* AG25  ENET_TD2 */
			MX8MM_IOMUXC_ENET_TD1_ENET1_RGMII_TD1		0x1f    /* AF26  ENET_TD1 */
			MX8MM_IOMUXC_ENET_TD0_ENET1_RGMII_TD0		0x1f    /* AG26  ENET_TD0 */
			MX8MM_IOMUXC_ENET_RD3_ENET1_RGMII_RD3		0x91    /* AC26  ENET_RD3 */
			MX8MM_IOMUXC_ENET_RD2_ENET1_RGMII_RD2		0x91    /* AD26  ENET_RD2 */
			MX8MM_IOMUXC_ENET_RD1_ENET1_RGMII_RD1		0x91    /* AD27  ENET_RD1 */
			MX8MM_IOMUXC_ENET_RD0_ENET1_RGMII_RD0		0x91    /* AE27  ENET_RD0 */
			MX8MM_IOMUXC_ENET_TXC_ENET1_RGMII_TXC		0x1f    /* AG24  ENET_TXC */
			MX8MM_IOMUXC_ENET_RXC_ENET1_RGMII_RXC		0x91    /* AE26  ENET_RXC */
			MX8MM_IOMUXC_ENET_RX_CTL_ENET1_RGMII_RX_CTL	0x91    /* AF27  ENET_RX_CTL */
			MX8MM_IOMUXC_ENET_TX_CTL_ENET1_RGMII_TX_CTL	0x1f    /* AF24  ENET_TX_CTL */
			MX8MM_IOMUXC_UART3_TXD_GPIO5_IO27		0x6     /* D18   ETH_RESET~ */
		>;
	};
};

/* Console */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

/* SD Card */
&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	bus-width = <4>;
	cd-gpios = <&gpio2 12 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&buck4_reg>;	/* byteDEVKIT only supports 3.3V I/O voltage */
	no-1-8-v;
	status = "okay";
};

&usbotg1 {
	status = "okay";
};

&usbotg2 {
	status = "okay";
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	fsl,magic-packet;
	phy-reset-gpios = <&gpio5 27 GPIO_ACTIVE_LOW>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_250_PS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_250_PS>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
			ti,dp83867-rxctrl-strap-quirk;
		};
	};
};
